*{
    padding: 0;
    margin: 0;
}

#grid-container{
    margin: 12rem auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}

.grid-item{
    width: 58px;
    height: 38px;
    border: 1px solid gray;
    background-color: azure;
}