*{
    padding: 0;
    margin: 0;
}

#grid-container{
    margin: 12rem auto 1rem auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}

.grid-item{
    width: 58px;
    height: 38px;
    border: 1px solid gray;
    background-color: azure;
}

#change-dimensions-button{
    padding: 6px;
    border-radius: 16px;
    display: flex;
    font-size: 2rem;
    margin: auto;
}